body, header, nav{
    margin: 0;
    padding: 0;
}
/* Navigation Styling */
nav{
    padding: 6px 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.295);
}
ul{
    width: 75%;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    list-style: none;
}
nav a{
    color: #000;
    cursor: pointer;
    text-decoration: none;
    transition: all 300ms;
}
ul a:hover, 
nav details:hover{
    color: #00AB0C;
    padding-bottom: 6px;
    border-bottom: 1px solid #00AB0C;
    font-weight: bold;
}
details a{
    display: block;
    padding: 8px;
}
nav details[open]{
    width: 100%;
    background: white;
}
nav details[open]:hover{
    border-bottom: none;
}
.logo{
    cursor: pointer;
    width: 100px;
}
.mobMenu{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 60%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: start;
    background: #00AB0C;
    color: #000;
}
.mobMenu li{
    padding: 24px;
}
.mobMenu li:hover{
    background: white;
    color: #00AB0C;
}
.mobMenu li:nth-child(1):hover{
    background: none;
    color: white;
    transform: scale(1.025);
}
.mobMenu li:nth-child(4){
    padding: 0;
}
.mobMenu details{
    padding: 24px;
}
.fa-bars,
.fa-xmark{
    padding: 8px;
    font-size: 24px;
    color: #00AB0C;
    cursor: pointer;
    display: none;
}
@media screen and (max-width:600px) {
    .noDisplay{
        display: none;
    }
    ul{
        justify-content: center;
        gap: 8px;
    }
    .fa-bars,
    .fa-xmark{
        display: block;
    }
    .fa-xmark{
        color: white;
        text-align: right;
    }
}
/* Navigation Styling */

/* Hero Slider */
.sliderItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 50vh;
    padding: 0 48px;
}
.sliderItem:nth-child(1){
    background: url(/images/home-pg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}
.sliderItem:nth-child(2){
    background: url(/images/home-pg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}
.sliderItem:nth-child(3){
    background: url(/images/home-pg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}
.sliderItem > section{
    padding:  8px;
    background-color: rgba(255, 255, 255, 0.356);
}
.sliderItem h1{
    color: white;
    font-size: 24px;
}
.sliderItem a{
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 12px 24px;
    background: #00AB0C;
    color: white;
    text-decoration: none;
}
/* Hero Slider */