body{
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Abril Fatface', cursive;
}

body,
header,
nav,
section {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

/* Navigation Styling */
nav {
    padding: 6px 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.295);
    z-index: 10;
}

ul {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    list-style: none;
}

ul a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    transition: all 300ms;
}

ul a:hover{
    color: #00AB0C;
    padding-bottom: 6px;
    border-bottom: 1px solid #00AB0C;
    font-weight: bold;
}

.logo {
    cursor: pointer;
    width: 100px;
}

.mobMenu {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 60%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: start;
    background: #00AB0C;
    color: #000;
}

.mobMenu li {
    padding: 24px;
}

.mobMenu li:hover {
    background: white;
    color: #00AB0C;
}

.mobMenu li:nth-child(1):hover {
    background: none;
    color: white;
    transform: scale(1.025);
}

.mobMenu li:nth-child(4) {
    padding: 0;
}

.mobMenu details {
    padding: 24px;
}

.fa-bars,
.fa-xmark {
    padding: 8px;
    font-size: 24px;
    color: #00AB0C;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:800px) {
    .flex {
        flex-direction: column;
    }

    .noDisplay {
        display: none;
    }

    ul {
        justify-content: center;
        gap: 8px;
    }

    .fa-bars,
    .fa-xmark {
        display: block;
    }

    .fa-xmark {
        color: white;
        text-align: right;
    }

    .section {
        padding: 32px;
    }
}

/* Navigation Styling */

/* Hero Slider */
.sliderItem {
    height: 60vh;
    padding: 0 48px;
}

.sliderItem:nth-child(1) {
    background: url(../images/home-pg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}

.sliderItem:nth-child(2) {
    background: url(../images/home-pg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.sliderItem:nth-child(3) {
    background: url(../images/home-pg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.sliderItem>section {
    padding: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    height: 100%;
}

.sliderItem h1 {
    color: #00AB0C;
    font-size: 24px;
}

/* Hero Slider */
.button {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 12px 24px;
    border: none;
    background: #00AB0C;
    color: white;
    text-decoration: none;
}

.button i {
    margin: 0 8px;
}

h1,
h2,
h6 {
    color: #00AB0C;
}

section img,
section video {
    min-width: 320px;
    width: 40%;
    height: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
}

.section {
    gap: 48px;
    justify-content: center;
    align-items: center;
    padding: 32px 120px;
    overflow: hidden;
}

.catalog {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.herb{
    width: 150px;
    text-align: center;
}

.catalog .herb img {
    width: 20%;
    min-width: 150px;
}

.center {
    text-align: center;
}

.center section {
    max-width: 600px;
    margin: 0 auto;
}

.sectionTwo {
    flex-direction: row-reverse;
}

footer ul {
    padding: 0;
    width: 100%;
    justify-content: center;
}

footer {
    text-align: center;
    border-top: 1px solid #00AB0C;
}

footer>h4>a {
    color: #00AB0C;
}

.contact {
    flex-wrap: wrap;
}

form {
    width: 50%;
    margin: 0 auto;
}

form * {
    display: block;
    padding: 6px;
}

input,
textarea {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    margin: 0 auto;
    width: 75%;
}

main {
    margin: 32px auto;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.product {
    display: block;
    width: 200px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.267);
}
.product img{
    min-width: 200px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-around;
}

.contacts li > a{
    color: #00AB0C;
    text-decoration: underline;
}

/* Contact Responsive Styles*/
@media screen and (max-width:600px) {
    .center section {
        width: 100%;
    }

    input,
    textarea {
        width: 100%;
    }

    form {
        width: 75%;
        padding: 24px 8px;
    }

    .section {
        padding: 32px;
    }

    .sectionTwo{
        flex-direction: column;
    }
}